<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Aggiungi una nuova pizza</h1>
	<form method="post">
		<label>Nome</label>
		<input type="text" name="name">
		<br>
		<label>Descrizione</label>
		<input type="text" name="description">
		<br>
		<label>Url foto</label>
		<input type="text" name="img">
		<br>
		<label>Prezzo</label>
		<input type="number" name="price">
		<br>
		<input type="submit" value="create"> 
	</form>
</body>
</html>